:root {
  --vp-c-brand-1: #3399dd;
  --vp-c-brand-2: #0066a6;
  --vp-c-brand-3: #3399dd;
  --vp-c-brand-dark: #0066a6;

  --vp-code-block-divider-color: rgba(0, 0, 0, 0.1);
  --vp-code-line-number-color: rgb(101, 109, 118);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #00d0d5,
    #3399dd
  );
}
